@import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
	overflow-x: hidden;
	background-image: radial-gradient(#eeeeee, #192124);
	height: 220vh;
}

#abas {
    height: 160vh;
}

#mosaico_div{	
	position: absolute;
	display: flex;
	top: 20%;
	left: calc(52% - 500px);
}
.subtitle{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin-left:auto;
	margin-right: auto;	
	text-align: center;
	position: relative;
	margin-top: 5%;
	width: 400px;
	font-size: 30px;
}

.container {
  position: relative;
  width: 250px;
  height: 350px;
  margin-top: 2%;
  margin-left: 4%;
  float:left;
}

.img {
  display: block;
  width: 250px;
  height: 350px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.9;
}

.container:hover .overlay {
  width: 100%;
  left: 0;
}

.nome {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#biografia{
	position: absolute;
	width: 1200px;
	top: calc(90% + 200px);
	left: calc(52% - 600px);
}
#rodape{
	width: 100vw;
	display: block;
	position: absolute;
	bottom: calc(-75% - 400px);
	height: calc(10%-200px);
	left: 0;
	background-color: black; 
	font-size: 1em;
	border-top: 5px solid #e0af25;
}
#rodape p {
	margin-top: 40px;
	display:flex;
	color: white;
	justify-content: center;
	width: 300px;
	margin-left: 200px;
}
#redes{
	width: auto;
	position: absolute;
	right: 20%;
	top: 37.5%;
}
#redes .btn{
	display: flex;
	background-color: lightgrey;
}
#btn{
	display: flex;
}
#btn a{
	position: relative;
	margin-left: 15px;
}
#btn a:hover{
	opacity: 0.3;
	transition: 0.5;
}